<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISimplex" />
                <binding name="BasicHttpBinding_IWCFSimplex" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="tcpEndpoint">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="tcpEndpoint1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8734/WCF/WCFSimplex/"
                binding="netTcpBinding" bindingConfiguration="tcpEndpoint"
                contract="WCFReference.IWCFSimplex" name="tcpEndpoint">
                <identity>
                    <userPrincipalName value="TB17G2-ITL\L3k99" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8739/WCF/WCFSimplex/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFSimplex" contract="WCFReference.IWCFSimplex"
                name="BasicHttpBinding_IWCFSimplex" />
        </client>
    </system.serviceModel>
</configuration>