<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
	<system.webServer>
		<handlers>
			<add name="StackHandler" verb="GET,POST,PUT,DELETE" path="*.saa" type="Lab1.StackHandler"/>
			<add name="ClientHandler" verb="GET" path="/" type="Lab1.ClientHandler"/>
		</handlers>
	</system.webServer>
</configuration>